services:
  plex-mcp-sse:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - FASTMCP_RELOAD=true
    ports:
      - "3001:3001"
    volumes:
      - ./src:/app/src
    restart: unless-stopped
